
.typed {
  padding-top: 10%;
}


#log {
	color:#00FF00;
  font-family: monospace !important;
  
  text-align: center;
}

.copyright {
  border-top: 1px solid #00FF00;
  margin-top: 10px;
  padding-top: 10px;
}

#text {
  display: none;
}

#music-toggle {
  transform: translateY(-50px);
  transition: 300ms ease-in-out;
}

#music-name {
  opacity: 0;
  visibility: hidden;
  transform: translateY(100px) rotateY(40deg);
  transition: 500ms 100ms ease-in-out;
}

.playing #music-name {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px) rotateY(0deg);
}

.playing #music-toggle {
  transform: translateY(0px);
}